.main {
    max-width: 768px;
    margin: 0 auto;
}
.page-content {
	display: flex;
	flex-flow: column wrap;
	flex-direction: column;
	align-self: center;
	
}
.section-apparea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 32px;
  border: 1px solid #e0e0e0;
  margin: 1rem;
  padding: 1rem;
}

.section-apparea h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-new__tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 60%  ;
}

.section-new__tasks ul {
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 0.8rem;
  margin: 2px;
  width: 100%;
  
  
}

.section-new__tasksspan {
  margin: 1rem;
  text-align: right;
}